# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Build
dist/
build/
coverage/
.nyc_output/

# Database
*.sqlite
*.sql
pgdata/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
